<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    {% if page.url contains '/secret/' or page.layout == 'product' %}
<link rel="icon" type="image/x-icon" href="https://narelim.github.io/mag-ross-archive/assets/img/favicon_s.ico">
    {% else %}
<link rel="icon" type="image/x-icon" href="https://narelim.github.io/mag-ross-archive/assets/img/favicon.ico">
    {% endif %}
           

</head>
<body>
    <header>
        {% if page.url contains '/secret/' or page.layout == 'product' %}
            
            <div style="display: flex; align-items: center; justify-content: center; gap: 15px;">
                
                <a href="{{ "/" | relative_url }}" class="logo" style="opacity: 0.3; transform: scale(0.8);">
                    <span class="gruppo-regular">Maguire & Ross</span>
                </a>

                <span style="color:#ddd;">|</span>

                <a href="{{ '/secret/' | relative_url }}" style="text-decoration: none; font-family: sans-serif; font-weight: bold; color: #E6007E; font-size: 1.2rem; letter-spacing: -0.5px;">
                    <span style="font-family: 'Cafe24MeongiBlack';">backstage</span>
                </a>
            </div>

        {% else %}

            <a href="{{ "/" | relative_url }}" class="logo">
                <span class="gruppo-regular">Maguire & Ross</span>
            </a>

        {% endif %}
    </header>

    <main class="container">
        {{ content }}
    </main>

    <footer class="footer-black">
        MAGUIRE & ROSS<br>
        <span style="font-size: 0.7em; color: #888; letter-spacing: 1px;">THE END OF WANDERING</span>
    </footer>
</body>
</html>
